Repository Bigdooor-studycourse/SSAC-community, pull requests merged in 2022-02, with the labels that each got.

#14 Rename: find_user.html class name 교정 / 수정
  src/views/guest/find_user.html
Labels: HTML Fix

#20 Design: "new/index.scss" / "old/index.scss" 기본경로 셋팅
  src/scss/new/index.scss
  src/scss/old/index.scss
Labels: CSS Fix

#26 Design: _header.scss, index.html수정, index.scss에 _header.scss 추가
  src/scss/new/common/_common.scss
  src/scss/new/common/_header.scss
  src/scss/new/index.scss
  src/views/index.html
Labels: CSS Fix

#32 Design: 디자인 시안에 맞춰 join.html 구조변경 & join.scss 작성
  src/scss/new/guest/join.scss
  src/scss/old/guest/join.scss
  src/scss/old/index.scss
  src/views/guest/join.html
Labels: HTML Fix, CSS Fix

#41 Style: find_user.html / scss class name 변경
  src/js/Components/app.js
  src/js/new/guest/find_user.js
  src/js/new/guest/login.js
  src/scss/new/guest/login.scss
  src/views/guest/find_user.html
  src/views/guest/login.html
Labels: HTML Fix, CSS Fix

#49 Feat: 닉네임 기능 구현
  src/js/Components/app.js
  src/js/new/guest/join.js
  src/scss/new/guest/join.scss
  src/views/guest/join.html
Labels: HTML Fix, CSS Fix

#50 Style: bbp.js -> console.log 출력되는거 제거 / Comment: _get함수 용도 주석 추가
  webpack.config.js
Labels: HTML Fix

#53 Fix: login.js가 실행이 안돼서 join.js에 window.onload 추가
  src/js/new/guest/join.js
Labels: bug

#54 Fix: 오류 수정 중 최신화를 위한 pull request
  src/js/new/guest/join.js
Labels: bug
